.jsp {
  color: white;
  text-align: center;
  margin: 20px;
  p {
    max-width: 100rem;
    border: solid 1px red;
    margin: 20px auto;
  }
}

.meet {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;

  p {
    color: white;
  }

  .personnages-card {
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    width: calc(25% - 10px);
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 50px;
  }

  img {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
    border: solid 1px rgb(198, 10, 255);
    border-radius: 100%;
  }

  .personnages-name {
    text-align: center;
    font-size: 1.5rem;
  }
}
